@import './variables.scss';

body {
	margin: 0 0 100px;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background: #333;
	padding: 8px 0;
	p, a {
		color: #FFF;
	}
}
#app-anchor {
	padding: 0;
}
header {
	background-color: rgba(255, 0, 0, 0.5);
	padding: 8px 0;
	box-shadow: 2px 2px 2px #ccc;
	h1 {
		color: #FFF;
		text-shadow: 1px 1px #333;
	}
}
main {
	margin: 12px 0;
}
ul {
	display: block;
	text-align: center;
	list-style-type: none;
	padding: 0;
}
.measurement {
	display: inline-block;
	margin: 8px;
	padding: 0 10px;
	border: solid 1px #ccc;
	border-radius: 10px;
	h1, h2 {
		text-align: center;
	}
	h2 {
		text-transform: uppercase;
	}
	p {
		color: #8c8c8c;
	}
}
#update_timer {
	text-align: center;
}